body {
    margin: 10px;
}

h1 {
    text-align: center;
}

h5 {
    float: right;
    text-align: right;
}

.main {
    clear: both;
}

#col1, #col2, #col3, #col4, #col5 {
    display: inline-block
}

.category {
    text-align: center;
}

.button {
    text-align: center;
    display: block;
}