body {
    margin: 10px auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;  
    background-color: #060de6; 
    background-image: url("images/45-degree-fabric-dark.png");
}

.header {
    margin-right: auto;
    margin-left: auto;
}

img {
    max-width: 550px; 
} 

.scoreboard {
    color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: right;
}

.main {
    margin: 5px auto;
    padding: 5px 50px; 
}

.category {
    color: #F4F4F4;
    letter-spacing: 2px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

#col1, #col2, #col3, #col4, #col5 {
    display: inline-block;   
}

.button {
    color: #ffd761;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    width: 190px;
    height: 100px;
    padding: 2px;
    margin: -2px; 
    background: radial-gradient(#060CE9,#10136d);
}

/* .modal-action {
    transition-duration: 0s;
} */

.footer {
    margin: 10px;
}

.fa-github {
    color: #F4F4F4;
    margin: 10px;
}

.fa-trello {
    color: #F4F4F4;
    margin: 10px;
}


/* background-color: #060dd8;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
 This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you!  */